@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 5vw;
}
header p {
    padding-bottom: 50px;
    font-size: 2vh;
}
a {
    text-decoration: none;
    color: rgb(150, 147, 147) ;
}
section{
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: white;
    font-size: 3vh;
}
section p{
    padding-bottom: 20px;
    padding-top: 20px;
}
.image{
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);

}
.image p{
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    padding: 10px;
}
#i1{
    background-image: url('imagens/background001.jpg');
    background-position: top center;
    background-position: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
#i2{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-position: cover;
    background-attachment: fixed;

}
footer{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
    text-align: center;
}
abbr{
    text-decoration: none;
}